{% load staticfiles %}
<html lang="en">
{% include "header.html" %}
<body>
  <!-- Header image on top (I dislike it, so commented out)
  <div class="header-img-top-nav">
    <img src="imgs/header_img.png">
  </div>
  -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-top" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Business name</a>
        <div class="social-items-top-collapsed visible-xs">
          <a href="{% url 'contact' %}" class="fa fa-facebook-square fa-4x"></a>
          <a href="{% url 'contact' %}" class="fa fa-twitter-square  fa-4x"></a>
        </div>   
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar-top">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'about' %}">About us <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="{% url 'content_page' %}">Content</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="{% url 'contact' %}" class="fa fa-facebook-square fa-4x"></a></li>
          <li><a href="{% url 'contact' %}" class="fa fa-twitter-square  fa-4x"></a></li>
        </ul>                  
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    
  <div class="container">
    <h3>Content page</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur ac erat quis consectetur. Aenean bibendum urna dui, eget sodales velit porta eleifend. Praesent vel nisi varius, venenatis tellus nec, congue mauris. Vestibulum non neque sit amet orci pharetra bibendum vel eget est. Morbi sed nibh vel dolor pretium iaculis. Praesent a risus vel leo ullamcorper egestas vitae quis purus. Proin ut est eget justo gravida suscipit dignissim nec ante. In dignissim dui in dui malesuada dapibus. Phasellus tempor magna purus, eget commodo enim fringilla at.

    Mauris non aliquam diam, eu porttitor orci. In hac habitasse platea dictumst. Proin non eros pellentesque velit tristique lobortis. Suspendisse sodales magna nec nibh hendrerit, id pellentesque mi efficitur. Praesent libero libero, euismod eu magna quis, tincidunt dictum velit. Praesent tincidunt, felis varius dignissim tempus, tellus quam viverra ex, ut egestas velit enim et nulla. Mauris rutrum semper ligula quis condimentum.

    Proin porttitor ac purus sed malesuada. Suspendisse eu risus sed nisl lacinia rhoncus. Etiam hendrerit ipsum erat, feugiat efficitur nulla sagittis a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et lobortis eros, vitae laoreet ex. Duis pharetra ut arcu eu pulvinar. Quisque placerat felis eget sapien euismod ornare. Nulla ullamcorper erat non eleifend rutrum. Nulla lacinia dapibus lectus vel cursus. Vestibulum id leo arcu. Ut id laoreet risus. Integer non metus et eros sollicitudin scelerisque vel eu ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eget felis consectetur, dictum elit vitae, placerat lorem. Sed mollis ullamcorper imperdiet.</p>
  </div>
    {% include "footer.html" %}
</body>
</html>