{% load staticfiles %}
<html lang="en">
<head>

  <title>My modular web </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- CSS and JS generic loader -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Custom css -->
   <link rel="stylesheet" href="{% static 'css/customCSS.css' %}">

</head>
<body>
  <!-- Header image on top (I dislike it, so commented out)
  <div class="header-img-top-nav">
    <img src="imgs/header_img.png">
  </div>
  -->
  <nav class="navbar navbar-inverse navbar-static-top visible-xs visible-sm">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-top" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Business name</a>
        <div class="social-items-top-collapsed visible-xs">
          <a href="contact.html" class="fa fa-facebook-square fa-4x"></a>
          <a href="contact.html" class="fa fa-twitter-square  fa-4x"></a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar-top">
        <ul class="nav navbar-nav">
          <li><a href="team.html">Team <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="content_page_01.html">Content</a></li>
          <!--
          <li class="dropdown">
            <a href="courses.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="course1.html">Course 1</a></li>
              <li><a href="course2.html">Course 2</a></li>
              <li><a href="course3.html">Course 3</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="roster.html">Roster</a></li>
            </ul>
          </li>
          -->
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="contact.html" class="fa fa-facebook-square fa-4x"></a></li>
          <li><a href="contact.html" class="fa fa-twitter-square  fa-4x"></a></li>
        </ul>     
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="header-title row hidden-xs hidden-sm">
      Business Name
    </div>
    <div class="header-img-logo row">
      <div class="col-md-4 main-menu main-menu-options-left hidden-xs hidden-sm">
          <ul>
            <li>
              <a href="aboutus.html">
                <span class="fa fa-2x">About us </span>
                <span class="fa fa-users fa-2x"></span>
              </a>
            </li>
            <li>
              <a href="content_page_01.html">
                <span class="fa fa-2x">Content </span>
                <span class="fa fa-pencil fa-2x"></span>
              </a>
            </li>
            <li>
              <a href="gallery.html">
                <span class="fa fa-2x">Gallery </span>
                <span class="fa fa-camera fa-2x"></span>
              </a>
            </li>
          </ul>
      </div>
      <div class="col-md-4">
        <div class="main-menu-logo">
          <img src="{% static 'imgs/main_logo_img.png' %}">
        </div>
      </div>
      <div class="col-md-4 main-menu main-menu-options-right hidden-xs hidden-sm">
          <ul>
            <li><a href="contact.html"><span class="fa fa-phone fa-2x"> Contact</span></a></li>
            <li>
              <a href="contact.html" class="fa fa-facebook-square fa-4x"></a>
              <a href="contact.html" class="fa fa-twitter-square  fa-4x"></a>
            </li>
          </ul>
      </div>
    </div>
    <div class="header-motto row">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur ac erat quis consectetur.</p>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright 2017 - Name website - etc.</p>
    </div>
  </footer>
</body>
</html>