{% load staticfiles %}
<html lang="en">
{% include "header.html" %}
<body>
  <!-- Header image on top (I dislike it, so commented out)
  <div class="header-img-top-nav">
    <img src="imgs/header_img.png">
  </div>
  -->
  <nav class="navbar navbar-inverse navbar-static-top visible-xs visible-sm">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-top" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Business name</a>
        <div class="social-items-top-collapsed visible-xs">
          <a href="{% url 'contact' %}" class="fa fa-facebook-square fa-4x"></a>
          <a href="{% url 'contact' %}" class="fa fa-twitter-square  fa-4x"></a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar-top">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'about' %}">About us <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="content_page_01.html">Content</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="{% url 'contact' %}" class="fa fa-facebook-square fa-4x"></a></li>
          <li><a href="{% url 'contact' %}" class="fa fa-twitter-square  fa-4x"></a></li>
        </ul>     
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="header-title row hidden-xs hidden-sm">
      Business Name
    </div>
    <div class="header-img-logo row">
      <div class="col-md-4 main-menu main-menu-options-left hidden-xs hidden-sm">
          <ul>
            <li>
              <a href="{% url 'about' %}">
                <span class="fa fa-2x">About us </span>
                <span class="fa fa-users fa-2x"></span>
              </a>
            </li>
            <li>
              <a href="{% url 'content_page' %}">
                <span class="fa fa-2x">Content </span>
                <span class="fa fa-pencil fa-2x"></span>
              </a>
            </li>
            <li>
              <a href="{% url 'gallery' %}">
                <span class="fa fa-2x">Gallery </span>
                <span class="fa fa-camera fa-2x"></span>
              </a>
            </li>
          </ul>
      </div>
      <div class="col-md-4">
        <div class="main-menu-logo">
          <img src="{% static 'imgs/main_logo_img.png' %}">
        </div>
      </div>
      <div class="col-md-4 main-menu main-menu-options-right hidden-xs hidden-sm">
          <ul>
            <li><a href="{% url 'contact' %}"><span class="fa fa-phone fa-2x"> Contact</span></a></li>
            <li>
              <a href="{% url 'contact' %}" class="fa fa-facebook-square fa-4x"></a>
              <a href="{% url 'contact' %}" class="fa fa-twitter-square  fa-4x"></a>
            </li>
          </ul>
      </div>
    </div>
    <div class="header-motto row">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur ac erat quis consectetur.</p>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>